
.body{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cats{
    color: white;
    font-size: 18px;
}
#carded{
    border-radius:6px; 
    background-color: aliceblue;
}
#posts{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.foot{
    margin: 20px;
    
}
#postform{
    color: white;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.456);
    padding:4%;
    border-radius: 8px;
}
#login{
    margin-top: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.456);
    border-radius: 8px;
    padding:3%;
}
#sign{
    color:rgb(0, 0, 0);
    text-decoration: underline;
}