{% macro display(piches) %}
<div class="row">
	{% if piches %}
		{% for category in piches %}
		<div class="col-md-4" >
			<div class="thumbnail text-center">
			    <h5 class="card-header">{{category.title}}</h5>
			    <div class="card-body">
			    	<blockquote class="blockquote">
			    		<h2>{{category.post}}</h2>
                        <footer class="blockquote-footer"> Posted by {{category.user.username}}</footer>
                        <footer class="blockquote-footer"> {{category.category}}</footer>
			    	</blockquote>
			    	<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
			    </div>
            </div>
            <hr>
        </div>
        
		{% endfor %}
	{% else %}
	{% endif %}
</div>
{% endmacro %}