<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
    <a class="navbar-brand" href="#"><strong>Pich-World</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
            <li style="color:white;padding:15px;"><i class="fas fa-user">{{current_user.username}}</i></li>
            <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            {% else %}
            <li style="color:white;padding:10px;text-decoration:none;margin-right:20px;"><a href="{{url_for('auth.login')}}"><i class="fas fa-user"> Log in</i></a></li>
            {%endif%}

        </ul>
    </div>
</nav>
